@font-face {
  font-family: 'zabars';
  src:url('fonts/zabars.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('img/desert-5396906_1920.jpg');
  background-position: center;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 56px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

canvas {
  background-color: black;
  display: block;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}


/* Smartphones */
@media only screen and (max-height: 480px) {
  canvas {
    width: 100vh;
  }
}

